*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.underside-solen{
    background-image: url(/media/backgroundtest.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    transform: translate(0%);
}

.tilbage-button{
width: 5rem;
height: 3rem;
border: 0;
margin-top: 2rem;
background-color: transparent;
color: gray;
}


.solens-overflade{
height: 100vh;
width: auto;

}
.underside-tekst-solen{
    width: 20vw;
    margin-top: 10rem;
    font-size: 1.2rem;
}
p{
    color: white;
    opacity: 0;
  
}