.forside-sektion{
    background-image: url(/media/backgroundtest.png);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

body{
    overflow: hidden;
}

#forsiden {
    display: flex;
    height: 100vh; 
    width: 200vw;

}


.forside-sektion {
    flex: 1;
}

.underside-solen {
    flex: 1; 

}


